<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center"
>
  <div class="container text-center text-md-left" data-aos="fade-up">
    <h1>Welcome to <span>Success League</span></h1>
    <h2>
      A Full Service prominent Legal Consultancy & Corporate Advisory Firm
      offering comprehensive cutting edge services across all Domains of
      Corporate Law and all segments of Business & Industrial Ecosystem
      including Startups. Unique & ultra specialized services in Family Office &
      Lifestyle-Art, Music, Fashion, Sports.
    </h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-6">
          <img src="assets/img/about.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>About Us</h3>
          <p>
            Success League Business Solutions was conceptualized in 2022, when
            three astute industry professionals came together and contemplated
            on the requirements, significance and rationale for a post pandemic
            new economic order.
          </p>
          <p>
            Competent Lawyers India, the forerunner of Success League Business
            Solutions had been in the business for well over a decade and had
            started to render legal services to industry leaders in their
            respective segments including Banking, Insurance, FMCG & Financial
            Services.
          </p>

          <p>
            Success League Business Solutions has been the trusted adviser of
            multinational and local companies that demand sharp regulatory
            insights for critical business decisions. Our commitment to
            excellence and innovative thinking enables us to provide tailored
            and practical advice, helping our clients gain competitive advantage
            in their respective fields of operations.
          </p>
          <p>
            The service-oriented and client-dedicated team of professionals
            operating under a highly secure and safe digital technology platform
            endeavours to reduce clients’ costs and greatly increase the work
            process efficiency. The firm balances and benches upon its
            professionals for their extensive experience in handling Legal, Para
            Legal and Research assignments in the Globally Competitive Legal
            environment.
          </p>
          <a routerLink="about-us">Read More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">
      <div>
        <h2 class="section-title">Services</h2>
        <p>
          We have cultivated the culture, commercial pragmatism and corporate
          skills required to deliver world-class services that are tailored to
          the preferences of national as well as world-class clients.
        </p>
        <p class="mb-3">
          Success League Business Solutions delivers services, principally in
          the areas of LEGAL CONSULTANCY & CORPORATE ADVISORY- Start-Ups Legal &
          Institutional Mentoring & Funding, Intellectual Property, NPA
          Management & Securitisation, Media & Branding and Real Estate along
          with Trust Planning & Family Office.
        </p>
        <p class="mb-3">
          In addition, we also cater to our clients’ requirements in,
          International Business, Corporate Restructuring, Competition & Fair
          Trade Practices, Cyber Law & Fintech, SDG, ESG Compliance, Banking,
          Insurance, Litigation, Overseas Immigration Assistance, Arbitration &
          Dispute Resolution, Representations and Settlements along with
          Employment & Service matters and Valuation. The firm's edifying
          capabilities and resources, combined with a diligent delivery, results
          in a rich client experience.
        </p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div routerLink="/services/1" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" routerLink="/services/1"
                >LEGAL, REGULATORY & COMPLIANCE</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-2 mt-lg-0">
          <div routerLink="/services/2" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/2"
                >REAL ESTATE</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <div routerLink="/services/3" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/3"
                >FAMILY GOVERNANCE, TRUST, ESTATE & SUCCESSION PLANNING</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/4" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/4"
                >INTERNATIONAL BUSINESS</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/5" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/5"
                >START-UPS MENTORING- LEGAL & INSTITUTIONAL</a
              >
            </h4>
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <div routerLink="/services/6" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/6"
                >TECHNICAL SERVICES CONSULTANCY FOR START-UPS-THIRD-PARTY
                OUTSOURCED SERVICES</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/7" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/7"
                >START-UP FINANCING/ FUND RAISING/ INVESTMENT FACILITATION</a
              >
            </h4>
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <div routerLink="/services/8" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/8"
                >INTELLECTUAL PROPERTY</a
              >
            </h4>
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <div routerLink="/services/9" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/9"
                >MEDIA & ENTERTAINMENT</a
              >
            </h4>
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <div routerLink="/services/10" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/10"
                >BRAND PROMOTION (MARKETING & ADVERTISING) THIRD-PARTY/
                OUTSOURCED SERVICES</a
              >
            </h4>
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <div routerLink="/services/11" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/11"
                >OVERSEAS IMMIGRATION ASSISTANCE</a
              >
            </h4>
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <div routerLink="/services/12" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/12"
                >SUSTAINABILITY COMPLIANCE FOR CORPORATES SUSTAINABILITY
                DEVELOPMENT GOALS (SDG)</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/13" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/13"
                >COMPETITION & FAIR TRADE PRACTICES</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/14" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/14"
                >CYBER LAWS & FINTECH</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/15" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/15"
                >SECURITISATION SERVICES</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/16" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/16"
                >TRANSACTIONAL SERVICES FOR CORPORATE RESTRUCTURINGS, MERGERS &
                ACQUISITIONS, JOINT VENTURES</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/17" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/17"
                >ENVIRONMENTAL, SOCIAL & GOVERNANCE (ESG) COMPLIANCE SERVICES</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/18" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/18"
                >PARA LEGAL SERVICES FOR BANKING & INSURANCE</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/19" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/19"
                >VALUATION SERVICES (OUTSOURCED) PROVIDED BY SUCCESS LEAGUE
                BUSINESS SOLUTIONS BY MEANS OF THIRD-PARTY PROFESSIONALS</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/20" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/20"
                >ART, MUSIC, FASHION & SPORTS</a
              >
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/21" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/21"
                >FUND RAISING (PRE & POST IPO) AND LOAN SYNDICATION</a>
            </h4>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div routerLink="/services/22" class="icon-box cursor-pointer">
            <h4>
              <a class="cursor-pointer hover:underline" outerLink="/services/22"
                >ALTERNATIVE & TECH INVESTMENTS</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Client Section ======= -->
  <section id="clients" class="services section-bg">
    <div class="container">
      <div class="section-title"><h2>Our Clients</h2></div>
      <div class="grid grid-cols-5 gap-5">
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/1.png" width="70px" height="70px" />
          <span>Larsen</span>
          <span>& Toubro</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/2.png" width="70px" height="70px" />
          <span>Andreomeda</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/3.png" width="70px" height="70px" />
          <span>E-Revbay</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/4.png" width="70px" height="70px" />
          <span>Havells</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/5.png" width="70px" height="70px" />
          <span>Itera Oils</span>
          <span>& Gas</span>
          <span>Company LLC</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/6.png" width="70px" height="70px" />
          <span>Pro Sales </span>
          <span>Financial Services</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/7.png" width="70px" height="70px" />
          <span>Socomec</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/8.png" width="70px" height="70px" />
          <span>HPL Electric</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/9.png" width="70px" height="70px" />
          <span>State Bank</span>
          <span>of India</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/10.png" width="70px" height="70px" />
          <span>Telemechanique</span>
        </div>
        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/11.png" width="70px" height="70px" />
          <span>Destimoney</span>
        </div>

        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/12.png" width="70px" height="70px" />
          <span>Amul Sweets</span>
        </div>

        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/13.png" width="70px" height="70px" />
          <span>Gulf Hub</span>
        </div>

        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/14.png" width="70px" height="70px" />
          <span>Exxon Mobil</span>
        </div>

        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/15.png" width="70px" height="70px" />
          <span>India Infoline</span>
          <span>Finance Ltd.</span>
        </div>

        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/16.png" width="70px" height="70px" />
          <span>Narayan</span>
          <span>Insurance Brokers</span>
        </div>

        <div class="flex-1 flex items-center justify-center flex-col space-y-2">
          <img src="assets/img/clients/17.png" width="70px" height="70px" />
          <span>Petroleum</span>
          <span>South Africa</span>
        </div>
      </div>
    </div>
  </section>
  <!-- End Client Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <h2>Our Core Team</h2>
        <span>Team work makes the dream work, meet our core team</span>
      </div>

      <div class="row">
        <div
          *ngFor="let member of team"
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
        >
          <div class="member flex flex-col flex-1">
            <div class="flex-1">
              <img
                class="mx-auto"
                src="{{
                  member.image ? member.image : 'assets/img/team/team-1.jpg'
                }}"
                alt=""
              />
              <!-- <div class='h-[250px] w-[250px] rounded-full mx-auto'> -->
              <!-- </div> -->
              <h4>{{ member.name }}</h4>
              <span>{{ member.degrees }}</span>
              <span>{{ member.partner}}</span>
              <p>
                {{ member.descriptionMini }}
              </p>
              <a [routerLink]="member.link">Read More</a>
            </div>
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a> -->
              <a [attr.href]="member.linkedIn"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="232"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <div>Happy Clients</div>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="521"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <div>Projects</div>
          </div>
        </div>

        <div class="col-lg-3 col-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="1463"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <div>Hours Of Support</div>
          </div>
        </div>

        <div class="col-lg-3 col-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="15"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <div>Hard Workers</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
        <span>Feel free to reach out to us -</span>
      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col-lg-10">
          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>
                  C- 11 A Dwarka Crossing, <br />
                  Near Dwarka Mod Metro Station <br />
                  New Delhi- 110059<br />
                </p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>asksuccessleague@gmail.com</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>
                  +91 98680-41048 <br />
                  +91 98109-61560 <br />
                  +91 81097-69946
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col-lg-10">
          <form [formGroup]="contactForm" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  formControlName="name"
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="number"
                formControlName="contact"
                class="form-control"
                name="number"
                id="number"
                placeholder="Mobile Number (Optional)"
              />
            </div>
            <div class="form-group mt-3">
              <textarea
                formControlName="message"
                class="form-control"
                name="message"
                rows="5"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button
                [disabled]="!this.buttonEnable"
                (click)="sendEnquiry()"
                type="submit"
              >
                {{ buttonText }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
